<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Healthy Recipe</title>
</head>

<body>
    <h1>New Healthy Recipe</h1>
    <form action="">
        {% for field in form
        if field.widget.imput_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}
        </p>
        {% endfor %}
        <button>Submit Recipe</button>
    </form>
</body>

</html>